*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: #fff;
}

.container{
    padding: 50px 150px;
    background-position: center;
    background-size: cover;
    background-color: rgb(255, 252, 246);
    box-shadow: 0  0 40px 2px rgba(37, 73, 215, 0.20);
}

.navbar{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 245, 231);
    height: 70px;
}

.navbar .logo{
    font-size: 30px;
    font-weight:800;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    margin-right: 140px;
    color: rgb(50, 46, 46);
}
.navbar ul li{
    display: inline;
   
}

.navbar ul li a{
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 20px;
    margin: 20px 0;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-left: 100px;
    
}

.content h1{
    font-size: 50px;
   margin-top: 100px;
   
}

.content p{
    font-size: 30px;
    margin: 20px 0;
}

.content span{
    color: rgb(87, 25, 139);
}

.content button{
    font-size: 20px;
    font-weight: 400;
    width: 150px;
    padding: 10px;
    margin: 30px 0;
    border-radius: 25px;
    background-color: rgb(18, 18, 133);
    color: #fff;
    border: none;
    cursor: pointer;
}

.imglogo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 
}

.img{
    width: 300px; 
    height: 300px; 
    position: absolute; 
    margin-left: 250px;
    border-radius: 50%;
    margin-bottom: 300px;
}